.DS_Store

bw_db/
bw_db/bqKey.json
experiments/.snakemake
experiments/outputs/
experiments/sigs/

/target
.direnv/
sandbox/
result
docs/_build
prod.env
mongodb/

# pixi environments
.pixi
.tox

docs/doctree/
docs/out/

*~
__pycache__
