executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1/sec'
}

process{
    clusterOptions = '--account=gbru_fy23_branchwater'
    cache = 'lenient'
    queue = {
        if ( task.memory > 384.GB ) {
            "bigmem"
        } else {
            "atlas"
        }
    }
    errorStrategy = 'ignore'
}


params {
    skip_prokka = true
    //skip_prodigal = true
    skip_maxbin2 = true
    skip_concoct = true
    skip_spades = true
    skip_spadeshybrid = true
    max_memory = 1536.GB
    max_cpus = 48
    max_time = 14.d
}

singularity {
    enabled = true
    envWhitelist = "http_proxy, https_proxy"
    autoMounts = true
    cacheDir='/90daydata/gbru_fy23_branchwater/Oct10_pe/singularity_cache_dir'
}

process {
    withName: ARIA2_UNTAR{
        memory = '192.GB'
        cpus   = '24'
    }

    withName: BOWTIE2_PHIX_REMOVAL_ALIGN{
        memory = '512.GB'
        time   = '14d'
        cpus   = '16'
        errorStrategy = 'ignore'
    }

    withName: MEGAHIT{
        memory = '512.GB'
        time   = '14d'

        cpus   = '16'
     //   errorStrategy = 'ignore'
    }

    withName: QUAST{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
    //    errorStrategy = 'ignore'
    }
    withName: BOWTIE2_ASSEMBLY_ALIGN{
        cpus   = '8'
        memory = '64.GB'
        time   = '14d'
   //     errorStrategy = 'ignore'
    }
    withName: BOWTIE2_ASSEMBLY_BUILD{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
        errorStrategy = 'ignore'
    }
    withName: PRODIGAL{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
        errorStrategy = 'ignore'
    }
    withName: METABAT2_METABAT2{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
       // errorStrategy = 'ignore'
    }
    withName: BUSCO{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
    }
    withName: PROKKA{
        memory = '64.GB'
        cpus   = '8'
        time   = '14d'
        errorStrategy = 'ignore'
    }
}
