manifest {
    homePage = 'https://github.com/USDA-ARS-GBRU'
    description = 'Config to pull SRA metagenomes found with branchwater'
    version = '2.0'
}


profiles {
    standard {
        process.executor = 'local'
        process.cache = 'lenient'
    }
    cluster {
        process.executor = 'slurm'
        process.clusterOptions = '--account=gbru_fy23_branchwater'
        process.cache = 'lenient'
        queue = 'atlas'
    }
}
executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '10/sec'
}
params {
    max_memory = 384.GB
    max_cpus = 48
    max_time = 14.d
}

singularity {
    enabled = true
    autoMounts = true
    envWhitelist = "http_proxy, https_proxy"
    cacheDir = '/90daydata/gbru_fy23_branchwater/bpm50/singularity_cache_dir'
}

process {
    withName: SRATOOLS_PREFETCH {
        ext.args = '--max-size 300g'
    }

    withLabel: cpu_med{
        cpus = 4
        memory = 64.GB
    }
    withLabel:cpu_high{
        cpus = 8
        memory = 64.GB
    }
    withLabel:cpu_max{
        cpus = 24
        memory = 192.GB
    }
}


