{% include 'header.html' %}

<link
  href="https://cdn.jsdelivr.net/npm/tabulator-tables@4.9.3/dist/css/tabulator.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

<div class="container mt-3">
  <h2>Contact</h2>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">We'd love to hear from you!</h4>
        <p class="card-text">
            This web search is powered by sourmash and the result of a collaboration
            between the Data Intensive Biology lab at UC Davis, the USDA-ARS
            Genomics and Bioinformatics Research Unit, and the Joint Genome
            Institute. 
          <ul>
          <li><b>Sourmash Team:</b> Luiz Irber, Titus Brown, Tessa Pierce-Ward</li>
          <li><b>USDA-ARS:</b> Suzanne Fleishmann, Adam Rivers</li>
          <li><b>JGI:</b> (hosting support)</li>
          </ul>
          
          Issues, questions, and comments about the search can be directed to the
          <a href="https://github.com/sourmash-bio/branchwater/issues/new?template=branchwater-web.md">github issue tracker</a>. You can also get in touch with us via email at 
          <a href="mailto:admin@sourmash.bio">admin@sourmash.bio</a>.
        </p>
      </div>
    </div>
  </div>

    {% include 'footer.html' %}
  </div>
</div>
