  <!-- Tabulator CSS file options: https://cdnjs.com/libraries/tabulator-->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator_bootstrap5.min.css"
    integrity="sha512-E3brrBS070QzILPd7448M+21NlCrA3fht9RmFvS9GIKo443nGQRF3tVOuK7YcY1gzPQsaks2cP/Ivp/yhoJCNA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    rel="preload"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />

  <script
    defer="defer"
    src="static/mgnify-component/mgnify-sourmash-component.js"
  ></script>

  <!-- Custom scripts and functions -->
  <script defer="defer" src="static/dashboard.js"></script>

  <!-- Tabulator and plotly libraries -->
  <script defer="defer" type="text/javascript" src="https://unpkg.com/tabulator-tables@6.4.0/dist/js/tabulator.min.js"></script>
  <script defer="defer" src="static/plotly-bw.min.js"></script>
