{% extends 'base.html' %}

{% block head %}
  {% include 'data_analysis.html' %}

  <script defer="defer" src="static/ex_sig.js"></script>
{% endblock %}

{% block content %}
    <br />
    <br />

    <!-- Intro/header -->

    <div class="parent-element" style="text-align: center">
      <h3>Try out the search!</h3>
      <h6>
        Submit one of the genomes below to examine its potential SRA metagenome
        matches and explore the default metadata options.
      </h6>
      <h6>Refresh the page to try a different genome.</h6>
    </div>
    <hr style="border-width: 3px; border-color: black" />

    <!-- Create form -->
    <style>
      .form-row {
        display: flex;
        align-items: center;
      }
      .form-row input[type="radio"] {
        margin-right: 20px;
      }
    </style>
    <div id="form-container"></div>
    <form id="form" style="margin: 80px">
      <div class="form-row">
        <input type="radio" id="Ralso" name="options" value="option1" />
        <label for="Ralso">
          <em>Ralstonia solanacearum</em>: a soilborne bacterial pathogen that
          causes bacterial wilt in several crops.
          <a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/305/"
            >RefSeq:GCF_021117135.1</a
          >
        </label>
      </div>
      <br />
      <div class="form-row">
        <input type="radio" id="Sal" name="options" value="option2" />
        <label for="Sal">
          <em>Salmonella enterica</em> subsp. <em>enterica</em>: a widespread
          bacterial pathogen that causes salmonellosis in humans. (<a
            href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/59201/"
            >RefSeq:GCF_000006945.2</a
          >)
        </label>
      </div>
      <br />
      <div class="form-row">
        <input type="radio" id="Promar" name="options" value="option3" />
        <label for="Promar">
          <em>Prochlorococcus marinus</em>: a widespread and abundant marine
          cyanobacteria. (<a
            href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/1219/"
            >RefSeq:GCF_000015665.1</a
          >)
        </label>
      </div>
      <br />
      <div class="form-row">
        <input type="radio" id="Canal" name="options" value="option4" />
        <label for="Canal">
          <em>Candida albicans </em>: a fungi common in the human gut and other
          parts of the body. It is an opportunistic pathogen and causes
          infection under certain conditions. (<a
            href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/5476/"
            >RefSeq:GCF_000182965.3</a
          >)
        </label>
      </div>
      <br />
      <div class="form-row">
        <input type="radio" id="Aspsyd" name="options" value="option5" />
        <label for="Aspsyd">
          <em>Aspergillus sydowii </em>: a fungal pathogen that can cause
          disease in humans and sea fan corals. (<a
            href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/75750/"
            >RefSeq:GCF_001890705.1</a
          >)
        </label>
      </div>
      <br />
      <div class="form-row">
        <input type="radio" id="Pelagi" name="options" value="option6" />
        <label for="Pelagi">
          <em>Candidatus Pelagibacter ubique </em>: ubiquitous marine bacterium
           SAR11, strain HTCC1062. (<a
            href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/335992/"
            >RefSeq:GCF_000012345.1</a
          >)
        </label>
      </div>
      <br />
      <br />

      <button type="submit" id="myButton" class="btn btn-light">
        <strong>Submit</strong>
      </button>
    </form>

    <!-- Create container for dashboard -->
    <div id="dashboard" style="margin: 30px"></div>

    <script>
      {% include "dashboard.js" %}
      //Once data submitted, add notification and send data to flask app
      form.addEventListener("submit", (event) => {
        event.preventDefault();

        //select signatures from 'ex_sig.js' based on form
        const selectedOption = form.querySelector(
          "input[name='options']:checked"
        );
        let formdata;
        if (selectedOption.id === "Ralso") {
          formdata = Ralso_sig;
        } else if (selectedOption.id === "Sal") {
          formdata = Sal_sig;
        } else if (selectedOption.id === "Promar") {
          formdata = Promar_sig;
        } else if (selectedOption.id === "Canal") {
          formdata = Canal_sig;
        } else if (selectedOption.id === "Aspsyd") {
          formdata = Aspsyd_sig;
        } else if (selectedOption.id == "Pelagi") {
          formdata = Pelagi_sig;
        }

        prepare_dashboard("/", formdata)
      });
    </script>

    <br />
    <br />
    <div
      class="card border-primary mb-3"
      style="margin-left: 50px; margin-right: 50px"
    >
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <!-- <h4 class="card-title">Primary card title</h4> -->
        <p class="card-text"></p>

        <p style="margin: 20px">
          This example search allows you to try out the
          <a href="/home"><b>default search</b></a
          >, which rapidly searches over {{ n_datasets }} metagenomes deposited in NCBI's
          <a href="https://www.ncbi.nlm.nih.gov/sra/"
            >sequence read archive (SRA)</a
          >
          and bypasses additional steps for metadata collation. Search typically
          takes less than 5 minutes. Default results return SRA metagenomes with 
          >10% containment of the query genome presented in a table, map, and 
          summary plots for selected high-interest metadata. If you'd like to have 
          greater control over the included metadata, an
          <a href="/advanced">advanced search</a> is available. Metadata selection 
          does not change the datasets that are searched; it only impacts which 
          metadata are included in the table and plots. Please note that
          SRA run accessions vary greatly in which metadata categories have
          information available. Further details regarding the curated metadata
          can be found on the <a href="/about">about page</a>.
        </p>
      </div>
    </div>
{% endblock %}
