<footer>
  <br />
  <hr />
  <div class="container">
    <p>
      Powered by
      <a href="https://sourmash.readthedocs.io/en/latest/">sourmash</a>.
    </p>

    <p>
     This site is free access to all users, including commercial users.
    </p>

    <p>A collaborative effort between JGI, UC-Davis, and the USDA ARS.</p>
  </div>
  <div class="image-container">
    <a href="https://jgi.doe.gov/">
      <img
        src="static/logos/jgi.png"
        alt="jgi-logo"
        style="margin-left: 80px"
      />
    </a>
    <a href="http://ivory.idyll.org/lab/">
      <img
        src="static/logos/ucd.gif"
        alt="UC-Davis-logo"
        style="margin-left: 80px"
      />
    </a>
    <a
      href="https://www.ars.usda.gov/southeast-area/stoneville-ms/genomics-and-bioinformatics-research/"
    >
      <img
        src="static/logos/usda.png"
        alt="USDA-logo"
        style="margin-left: 80px"
      />
    </a>
  </div>
  <br />
</footer>
