<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css"
  integrity="sha256-+omx7xYvI+/C0kfnQmjAIW8dDbTweWpbYHWzveX4ii4="
  crossorigin="anonymous"
/>

<!DOCTYPE html>
<html>
  <head>
    <title>Branchwater Metagenome Query</title>
    <style>
      .image-container img {
        max-height: 50px; /* Adjust the maximum height as per your requirements */
      }
    </style>

    <!-- <style>
      h5 {
        text-align: center;
      }
    </style> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand">
        <h2 style="margin: 10px">Branchwater Metagenome Query</h2>
        <p style="margin: 10px">
          Real-time search for a genome within metagenomes in the SRA.
        </p>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/advanced">Advanced</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/examples">Examples</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
