{% include 'header.html' %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Tabulator CSS file options: https://cdnjs.com/libraries/tabulator-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator_bootstrap5.min.css"
      integrity="sha512-E3brrBS070QzILPd7448M+21NlCrA3fht9RmFvS9GIKo443nGQRF3tVOuK7YcY1gzPQsaks2cP/Ivp/yhoJCNA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      defer="defer"
      src="static/mgnify-component/mgnify-sourmash-component.js"
    ></script>

    <!-- Custom scripts and functions -->
    <script src="static/dashboard.js"></script>

    <!-- Tabulator and plotly libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/js/tabulator.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <br />
    <br />

    <!-- Intro/header -->

    <div class="parent-element" style="text-align: center">
      <h4>
        Curious what publicly available metagenomes contain an organism you're
        interested in?
      </h4>
      <h6>
        Start by selecting your genome below (FASTA/FASTQ format, plain or gzipped) or checking out
        our <a href="/examples">examples</a>.
      </h6>
    </div>
    <hr style="border-width: 3px; border-color: black" />

    <div style="margin: 50px">
      <mgnify-sourmash-component id="sourmash" ksize="21" scaled="1000" />
    </div>

    <!-- Create form -->
    <div id="form-container"></div>
    <form id="form" style="margin: 40px">
      <button type="submit" id="myButton" class="btn btn-light" disabled>
        <strong>Submit</strong>
      </button>
    </form>

    <!-- Create container for dashboard -->
    <div id="dashboard" style="margin: 30px"></div>

    <script>
      var signature;
      //once sketched, signatures saved and submit button enabled
      document.addEventListener("sketched", (evt) => {
        evt.preventDefault();
        signature = evt.detail.signature;
        document.querySelector("#myButton").disabled = false;
      });

      //Once data submitted, add notification and send data to flask app
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        document.querySelector("#myButton").disabled = true;
        // Create a new <nav> element
        const navElement = document.createElement("nav");
        navElement.classList.add(
          "navbar",
          "navbar-expand-lg",
          "navbar-light",
          "bg-light"
        );
        navElement.style.textAlign = "center"; // Add the text-align style

        // Create a new <p> element and add it to the <nav> element
        const paragraphElement = document.createElement("h3");
        paragraphElement.contentEditable = true; // Make the text editable
        paragraphElement.textContent =
          "Do not navigate from page. The query may take up to 5 minutes!"; // Set the initial text content
        navElement.appendChild(paragraphElement);
        // Add an event listener to the <p> element to handle text changes
        paragraphElement.addEventListener("input", (event) => {
          console.log(`New text: ${event.target.textContent}`);
        });
        // Add the <nav> element to the DOM
        dashboard.appendChild(navElement);
        const formdata = {
          signatures: signature,
        };
        const startTime = performance.now();
        var data = {};

        //Do fetch request to proper route and create dashboard
        fetch("/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formdata),
        })
          .then((response) => response.json())
          .then((jsonData) =>
            createdashboard(jsonData, paragraphElement, navElement)
          )
          .catch((error) => {
            console.error("Error sending data to Flask server:", error);
          });
      });
    </script>

    <br />
    <br />
    <div
      class="card border-primary mb-3"
      style="margin-left: 50px; margin-right: 50px"
    >
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <!-- <h4 class="card-title">Primary card title</h4> -->
        <p class="card-text"></p>

       <p style="margin: 20px">
         This
         <a href="/home"><b>default search</b></a> allows you to rapidly search
         over {{ n_datasets }} metagenomes deposited in NCBI's
         <a href="https://www.ncbi.nlm.nih.gov/sra/"
           >Sequence Read Archive (SRA)</a
         >. <strong>For best results, search with sequences 50kb or longer.</strong>
         Sequences shorter than 10kb will rarely produce results. Quality of the match to the uploaded genome is represented by the cANI score (calculated from containment). The relationship between cANI and taxonomic level of the match varies with the genome of interest. In general, matches are most robust to the genus taxonomic level and a cANI > 0.97 often represents a species-level match.
         </p>

        <p style="margin: 20px"> 
          Search typically takes less than 5 minutes. Default search 
          returns SRA metagenomes with geolocation data and with >10% containment
          of the query genome, presented in a table, map, and summary plots for selected high-interest 
          metadata. An <a href="/advanced">advanced search</a> is available for selection of included metadata.
          Further details regarding search and metadata
          can be found on the <a href="/about">about page</a>. 
        </p>

        <p style="margin: 20px">
          <strong>Please note that this web server is still in development
            and the interface may occasionally be updated.</strong> If your query does not return
            results in 5 minutes, please try again in an hour or reach out 
            to us via the
            <a href="https://github.com/sourmash-bio/branchwater/issues/new?template=branchwater-web.md">github issue tracker</a>.
        </p>
      </div>
    </div>
    <!-- Script for tooltips -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    </script>
  </body>
</html>
{% include 'footer.html' %}
